* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.container.playArea {
  height: 600px;
  width: 1200px;
  background-color: darkgray;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 128px;
  height: 64px;
  font-weight: bold;
  font-size: 24px;
  transition-duration: 0.1s;
  border-radius: 8px;
}

.btn.player:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border: solid black 5px;
}

.resultArea {
  background-color: black;
  height: 33%;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cpuArea {
  height: 33%;
  width: 1200px;
  background-color: rgb(0, 0, 75);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.playerArea {
  height: 33%;
  width: 1200px;
  background-color: rgb(0, 0, 75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.resultBanner {
  color: white;
}

.result {
  color: white;
}

.topBanner {
  background-color: black;
  color: white;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#round {
  font-size: 24px;
  margin-left: 12px;
}

#playerScoreDisplay {
  font-size: 24px;
  margin-left: 100px;
}

#playerScore {
  font-size: 24px;
  margin-left: 12px;
}
#cpuScore {
  font-size: 24px;
  margin-right: 100px;
  margin-left: 12px;
}
